

<section id= "forgotpass" class="mb-5">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col col-sm-6 col-md-4 mx-auto">
                <div class="card_forgotpass">
                    <div class="card mt-2 text-center">
                        <div class="card-body ">
                            <h3 class="card-title text-center">Porfavor digite su email</h3>
                            <div class="form-gruop">
                                <input type="email" class="form-control" required>
                            </div>
                            <div class="form-gruop mt-3  text-center"></div>
                                <button class="btn btn-primary btn-lg" (click)="onReset()">Recuperar Contraseña</button>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</section>